In [1]:
import os
os.chdir("../")
%pwd

'r:\\Real_time_route_optimization'

In [2]:
import numpy as np 
import pandas as pd

In [7]:
df = pd.read_csv('artifacts/dataset.csv')

In [ ]:
df["Time_taken(min)"] = df_out["Time_taken(min)"]

In [9]:
df

,ID,Delivery_person_Age,Delivery_person_Ratings,Translogi_latitude,Translogi_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_vehicle,multiple_deliveries,City,Time_taken,Assigned_Hub,Hub_Latitude,Hub_Longitude
0,0x4607,37.0,4.9,19.0760,72.8777,22.765049,75.912471,2022-03-19,11:30:00,Sunny,High,2,motorcycle,0.0,Urban,24,Hub_3,19.0760,72.8777
1,0xb379,34.0,4.5,12.9716,77.5946,13.043041,77.813237,2022-03-25,19:45:00,Stormy,Jam,2,scooter,1.0,Metropolitian,33,Hub_1,12.9716,77.5946
2,0x5d6d,23.0,4.4,12.9716,77.5946,12.924264,77.688400,2022-03-19,08:30:00,Sandstorms,Low,0,motorcycle,1.0,Urban,26,Hub_1,12.9716,77.5946
3,0x7a6a,38.0,4.7,12.9716,77.5946,11.053669,77.026494,2022-04-05,18:00:00,Sunny,Medium,0,motorcycle,1.0,Metropolitian,21,Hub_1,12.9716,77.5946
4,0x70a2,32.0,4.6,13.0827,80.2707,13.012793,80.289982,2022-03-26,13:30:00,Cloudy,High,1,scooter,1.0,Metropolitian,30,Hub_4,13.0827,80.2707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09,30.0,4.8,28.7041,77.1025,26.912328,75.804257,2022-03-24,11:35:00,Windy,High,1,motorcycle,0.0,Metropolitian,32,Hub_2,28.7041,77.1025
45589,0xd641,21.0,4.6,19.0760,72.8777,0.070000,0.070000,2022-02-16,19:55:00,Windy,Jam,0,motorcycle,1.0,Metropolitian,36,Hub_3,19.0760,72.8777
45590,0x4f8d,30.0,4.9,13.0827,80.2707,13.052394,80.272439,2022-03-11,23:50:00,Cloudy,Low,1,scooter,0.0,Metropolitian,16,Hub_4,13.0827,80.2707
45591,0x5eee,20.0,4.7,12.9716,77.5946,11.041753,77.026241,2022-03-07,13:35:00,Cloudy,High,0,motorcycle,1.0,Metropolitian,26,Hub_1,12.9716,77.5946
45592,0x5fb2,23.0,4.9,22.5726,88.3639,23.431058,85.405731,2022-03-02,17:10:00,Fog,Medium,2,scooter,1.0,Metropolitian,36,Hub_5,22.5726,88.3639

In [23]:
def data(df):
    df.replace({"NaN": np.nan}, regex=True, inplace = True)
    df.drop(['Time_Order_picked','Delivery_person_ID','Type_of_order','Festival'],axis=1,inplace=True)
    # df['Time_taken(min)'] = df['Time_taken(min)'].str.replace('(min)','')
    df=df.rename(columns={'Time_taken(min)':'Time_taken'})
    df['Weatherconditions']=df['Weatherconditions'].str.replace('conditions','')
    df['Delivery_person_Age']=df['Delivery_person_Age'].astype(float)
    df['Delivery_person_Ratings']=df['Delivery_person_Ratings'].astype(float)
    df['Order_Date']=pd.to_datetime(df['Order_Date'],dayfirst=True)
    df['Time_Orderd'] = pd.to_datetime(df['Time_Orderd'], format='%H:%M:%S', errors='coerce').dt.time
    return df

In [24]:
df = data(df)

In [25]:
df.isnull().sum()

ID                               0
Delivery_person_Age            491
Delivery_person_Ratings        507
Delivery_location_latitude       0
Delivery_location_longitude      0
Order_Date                       0
Time_Orderd                    444
Weatherconditions              158
Road_traffic_density           154
Vehicle_condition                0
Type_of_vehicle                  0
multiple_deliveries            238
City                           324
Time_taken                       0
dtype: int64

In [26]:
df.to_csv("Artificats\\Time_Estimation_Dataset\\test.csv",index=False)

In [27]:
df

,ID,Delivery_person_Age,Delivery_person_Ratings,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_vehicle,multiple_deliveries,City,Time_taken
0,0x2318,NaN,NaN,11.043669,77.016494,2022-03-30,NaT,NaN,NaN,3,electric_scooter,1,Metropolitian,25.668333
1,0x3474,28.0,4.6,13.085377,77.806664,2022-03-29,20:30:00,Windy,Jam,0,motorcycle,1,Metropolitian,27.881667
2,0x9420,23.0,4.5,27.001378,75.879034,2022-03-10,19:35:00,Stormy,Jam,0,motorcycle,1,Metropolitian,27.023333
3,0x72ee,21.0,4.8,26.856536,75.927333,2022-04-02,17:15:00,Fog,Medium,1,scooter,1,Metropolitian,28.153333
4,0xa759,31.0,4.6,13.096047,80.328114,2022-03-27,18:25:00,Sunny,Medium,2,scooter,1,Metropolitian,21.018333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11394,0x6909,35.0,4.6,27.015190,75.920753,2022-03-27,21:35:00,Sunny,Jam,1,scooter,1,Metropolitian,21.972500
11395,0x443b,33.0,4.9,26.912940,75.803007,2022-03-11,11:40:00,Sandstorms,High,1,scooter,1,Metropolitian,29.390000
11396,0x1ea5,NaN,NaN,21.217735,72.828778,2022-03-11,NaT,NaN,NaN,3,scooter,1,Metropolitian,26.244167
11397,0x22d4,27.0,4.7,22.450000,73.300000,2022-03-06,18:35:00,Sandstorms,Medium,0,motorcycle,0,Metropolitian,23.752500
11398,0xb7be,39.0,5.0,13.131878,80.298519,2022-03-24,22:20:00,Windy,Low,2,motorcycle,1,Urban,23.827500

In [28]:
df.dtypes

ID                                     object
Delivery_person_Age                   float64
Delivery_person_Ratings               float64
Delivery_location_latitude            float64
Delivery_location_longitude           float64
Order_Date                     datetime64[ns]
Time_Orderd                            object
Weatherconditions                      object
Road_traffic_density                   object
Vehicle_condition                       int64
Type_of_vehicle                        object
multiple_deliveries                    object
City                                   object
Time_taken                            float64
dtype: object

In [ ]:
df.to_csv("")