In [1]:
import pandas as pd

In [69]:
df_data = pd.read_csv('Dataset.csv')
df_train = pd.read_csv("train.csv")

In [70]:
df_data["translogi_latitude"] = df_train["Restaurant_latitude"]
df_data["translogi_longitude"] = df_train["Restaurant_longitude"]

In [73]:
col = df_data.pop("translogi_longitude")
df_data.insert(4, col.name, col)

In [79]:
df_data.to_csv("dataset.csv", index=False)

In [53]:
from geopy.distance import geodesic

# Define a function to calculate distance
def calculate_distance(row):
    restaurant_coords = (row['translogi_latitude'], row['translogi_longitude'])
    delivery_coords = (row['Delivery_location_latitude'], row['Delivery_location_longitude'])
    return geodesic(restaurant_coords, delivery_coords).kilometers

# Apply the function to the DataFrame
df_data['distance_km'] = df_data.apply(calculate_distance, axis=1)

In [54]:
df_data

,ID,Delivery_person_Age,Delivery_person_Ratings,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_vehicle,multiple_deliveries,City,Time_taken,translogi_latitude,translogi_longitude,distance_km
0,0x4607,37.0,4.9,22.765049,75.912471,2022-03-19,11:30:00,Sunny,High,2,motorcycle,0.0,Urban,24,22.745049,75.892471,3.020737
1,0xb379,34.0,4.5,13.043041,77.813237,2022-03-25,19:45:00,Stormy,Jam,2,scooter,1.0,Metropolitian,33,12.913041,77.683237,20.143737
2,0x5d6d,23.0,4.4,12.924264,77.688400,2022-03-19,08:30:00,Sandstorms,Low,0,motorcycle,1.0,Urban,26,12.914264,77.678400,1.549693
3,0x7a6a,38.0,4.7,11.053669,77.026494,2022-04-05,18:00:00,Sunny,Medium,0,motorcycle,1.0,Metropolitian,21,11.003669,76.976494,7.774497
4,0x70a2,32.0,4.6,13.012793,80.289982,2022-03-26,13:30:00,Cloudy,High,1,scooter,1.0,Metropolitian,30,12.972793,80.249982,6.197898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09,30.0,4.8,26.912328,75.804257,2022-03-24,11:35:00,Windy,High,1,motorcycle,0.0,Metropolitian,32,26.902328,75.794257,1.488112
45589,0xd641,21.0,4.6,0.070000,0.070000,2022-02-16,19:55:00,Windy,Jam,0,motorcycle,1.0,Metropolitian,36,0.000000,0.000000,10.983242
45590,0x4f8d,30.0,4.9,13.052394,80.272439,2022-03-11,23:50:00,Cloudy,Low,1,scooter,0.0,Metropolitian,16,13.022394,80.242439,4.648024
45591,0x5eee,20.0,4.7,11.041753,77.026241,2022-03-07,13:35:00,Cloudy,High,0,motorcycle,1.0,Metropolitian,26,11.001753,76.986241,6.219668
45592,0x5fb2,23.0,4.9,23.431058,85.405731,2022-03-02,17:10:00,Fog,Medium,2,scooter,1.0,Metropolitian,36,23.351058,85.325731,12.057294

In [3]:
%pwd

'r:\\Real_time_route_optimization\\experimental'

In [4]:
import os
os.chdir('../')

In [7]:
pred_data = pd.read_csv("artifacts/Prediction/Predictions.csv")
test_data = pd.read_csv("artifacts/Prediction/test.csv")

In [11]:
y_test = test_data["Time_taken"]
y_pred = pred_data["Predictions"]

In [12]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R^2:", r2)

Mean Squared Error: 73.1062552916726
R^2: -0.034076958921884115