In [4]:
import pandas as pd

In [40]:
df = pd.read_csv('New_dataset.csv')

In [41]:
df

,ID,Delivery_person_Age,Delivery_person_Ratings,Translogi_latitude,Translogi_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_vehicle,multiple_deliveries,City,Time_taken,Assigned_Hub,Hub_Latitude,Hub_Longitude
0,0x4607,37.0,4.9,19.0760,72.8777,22.765049,75.912471,2022-03-19,11:30:00,Sunny,High,2,motorcycle,0.0,Urban,24,Hub_3,19.0760,72.8777
1,0xb379,34.0,4.5,12.9716,77.5946,13.043041,77.813237,2022-03-25,19:45:00,Stormy,Jam,2,scooter,1.0,Metropolitian,33,Hub_1,12.9716,77.5946
2,0x5d6d,23.0,4.4,12.9716,77.5946,12.924264,77.688400,2022-03-19,08:30:00,Sandstorms,Low,0,motorcycle,1.0,Urban,26,Hub_1,12.9716,77.5946
3,0x7a6a,38.0,4.7,12.9716,77.5946,11.053669,77.026494,2022-04-05,18:00:00,Sunny,Medium,0,motorcycle,1.0,Metropolitian,21,Hub_1,12.9716,77.5946
4,0x70a2,32.0,4.6,13.0827,80.2707,13.012793,80.289982,2022-03-26,13:30:00,Cloudy,High,1,scooter,1.0,Metropolitian,30,Hub_4,13.0827,80.2707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45588,0x7c09,30.0,4.8,28.7041,77.1025,26.912328,75.804257,2022-03-24,11:35:00,Windy,High,1,motorcycle,0.0,Metropolitian,32,Hub_2,28.7041,77.1025
45589,0xd641,21.0,4.6,19.0760,72.8777,0.070000,0.070000,2022-02-16,19:55:00,Windy,Jam,0,motorcycle,1.0,Metropolitian,36,Hub_3,19.0760,72.8777
45590,0x4f8d,30.0,4.9,13.0827,80.2707,13.052394,80.272439,2022-03-11,23:50:00,Cloudy,Low,1,scooter,0.0,Metropolitian,16,Hub_4,13.0827,80.2707
45591,0x5eee,20.0,4.7,12.9716,77.5946,11.041753,77.026241,2022-03-07,13:35:00,Cloudy,High,0,motorcycle,1.0,Metropolitian,26,Hub_1,12.9716,77.5946
45592,0x5fb2,23.0,4.9,22.5726,88.3639,23.431058,85.405731,2022-03-02,17:10:00,Fog,Medium,2,scooter,1.0,Metropolitian,36,Hub_5,22.5726,88.3639

In [42]:
df.drop(["Hub_Latitude","Hub_Longitude"],axis = 1, inplace = True)

In [43]:
col = df.pop("Assigned_Hub")
df.insert(3, col.name, col)

In [44]:
df = df.rename(columns={"Assigned_Hub": "Hub_number"})

In [48]:
df.dtypes

ID                              object
Delivery_person_Age            float64
Delivery_person_Ratings        float64
Hub_number                      object
Translogi_latitude             float64
Translogi_longitude            float64
Delivery_location_latitude     float64
Delivery_location_longitude    float64
Order_Date                      object
Time_Orderd                     object
Weatherconditions               object
Road_traffic_density            object
Vehicle_condition                int64
Type_of_vehicle                 object
multiple_deliveries            float64
City                            object
Time_taken                       int64
dtype: object

In [17]:
df['Translogi_latitude'].unique()

array([19.076 , 12.9716, 13.0827, 22.5726, 28.7041])

In [21]:
df["Assigned_Hub"].unique()

array(['Hub_3', 'Hub_1', 'Hub_4', 'Hub_5', 'Hub_2'], dtype=object)

In [18]:
df['Translogi_longitude'].unique()

array([72.8777, 77.5946, 80.2707, 88.3639, 77.1025])

In [20]:
df["Hub_Latitude"].unique()

array([19.076 , 12.9716, 13.0827, 22.5726, 28.7041])

In [7]:
df.isna().sum()

ID                                0
Delivery_person_Age            1854
Delivery_person_Ratings        1908
Translogi_latitude                0
Translogi_longitude               0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Weatherconditions               616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_vehicle                   0
multiple_deliveries             993
City                           1200
Time_taken                        0
Assigned_Hub                      0
Hub_Latitude                      0
Hub_Longitude                     0
dtype: int64

In [28]:
if (df['Translogi_latitude'] == df['Hub_Latitude']).all():
    print("oh yeah")

oh yeah

In [30]:
if (df['Translogi_longitude'] == df['Hub_Longitude']).all():
    print("oh yeah")
else:
    print("oh no")

oh no